*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f5f2;
    color:#333;
}

header{
    background:#4e342e;
    color:white;
    padding:15px 30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.btn{
    background:#d2691e;
    padding:8px 15px;
    border-radius:5px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?w=1200");
    background-size:cover;
    background-position:center;
    color:white;
}

.hero h1{
    font-size:48px;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.button{
    display:inline-block;
    background:#d2691e;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

footer{
    background:#4e342e;
    color:white;
    text-align:center;
    padding:20px;
}
